.about-team-section {
  .team-card {
    &-external {
      background-image: url("/images/team-card-background.png");
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 15px 30px;
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06);
      margin: 0 auto;
      max-width: 390px;
      height: 100%;
    }
    &-internal {
      box-shadow: 0 3px 15px rgba(0, 0, 0, 0.06);
      height: 100%;
    }
  }

  .team-member {
    &-content {
      padding: 15px 10px 20px;
      background-color: $white;
    }
    &-name {
      font-size: 16px;
      line-height: 22px;
    }
    &-position {
      color: #9c6ce9;
      font-size: 12px;
    }
    &-description {
      font-size: 12px;
    }
  }
}
