.u-modal-window {
  @include absolute;
}


// lock page when modal is open
body.custombox-lock {
  overflow: hidden;
}

// parsley error messages
.input-group {
  @include relative;

  .parsley-errors-list {
    position: absolute;
    top: 110%;
    left: 0;
  }
  .parsley-custom-error-message {
    color: $danger;
  }
}
