@mixin outline-none {
  @include hover-focus-active {
    &, &:hover, &:focus {
      outline: none;
    }
  }
}

@mixin center() {
  margin-left: auto;
  margin-right: auto;
}

@mixin responsive-embed($x: 16, $y: 9, $selector: '> :first-child') {
  height: 0;
  overflow: hidden;
  padding: 0 0 unquote(( $y / $x ) * 100 + '%');
  position: relative;
  width: 100%;

  #{$selector},
  iframe,
  embed,
  object,
  video {
    @include absolute(top 0 left 0 bottom 0);

    height: 100%;
    width: 100%;
  }
}

@mixin skeleton-line($width, $height: $width) {
  &:empty {
    &:before {
      @include pseudo;
      @include size($width, $height);
      border-radius: $border-radius;
      background: linear-gradient(to left, $color-gray-light 0, $color-gray-lighter 50%, $color-gray-light 100%) repeat-y, $color-gray-light;
      background-size: 30px 100%;
      animation: shine 2s ease infinite;
      opacity: 0.5;
      @content;
    }
  }

  @keyframes shine {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
  }
}
