// typo font styles
.typo-h1 {
  @include font(h1);
}

.typo-h2 {
  @include font(h2);
  @include mb(0);
}

.typo-h3 {
  @include font(h3);
}

.typo-h4 {
  @include font(h4);
}

.typo-h5 {
  @include font(h5);
}

.typo-h6 {
  @include font(h6);
}

.typo-paragraph {
  @include font(paragraph);
}

.typo-quote {
  @include font(quote);
}

.typo-mention {
  @include font(mention);
  @include mb(0);
}

.section-subtitle {
  @include relative;
  @include font(h6);
  @include pl(14);
  @include mb(0);

  &:after {
    @include pseudo;
    @include absolute(left 0 top 50%);
    @include size(50px, 2px);
    background-color: $color-black;
    transform: translateY(-50%);
  }
}

// colors
.text-white {
  color: $color-white;

  &:after {
    background-color: $color-white;
  }
}

.text-black {
  color: $color-black;

  &:after {
    background-color: $color-black;
  }
}

.text-green {
  color: $color-green-light;

  &:after {
    background-color: $color-green-light;
  }
}

.text-blue {
  color: $color-blue-darkest;

  &:after {
    background-color: $color-blue-darkest;
  }
}
