#hamburger {
  @include p(0);
  overflow: hidden;

  @include plain-hover-focus {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    outline: none;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .lines-wrap {
    @include size(24px, 20px);
    @include relative;

    i {
      @include hardware();
      background-color: $color-green-light;
      will-change: transform;
      transition: transform $transition-duration-short ease,
                  width $transition-duration-short ease;
      border-radius: 5px;
      transform: translateZ(0);

      &:nth-child(1) {
        @include absolute(top 0 right 0);
        @include size(24px, 3px);
      }
      &:nth-child(2) {
        @include absolute(top 50% right 0);
        @include size(15px, 3px);
        transform: translateY(-50%) translateZ(0);
      }
      &:nth-child(3) {
        @include absolute(bottom 0 right 0);
        @include size(8px, 3px);
      }
    }

    &.open {
      i {
        width: 100%;
        &:nth-child(1) {
          @include absolute(top 50% left 50%);
          transform: translateY(-50%) translateX(-50%) translateZ(0) rotate(45deg);
        }

        &:nth-child(2) {
          @include absolute(top 50% left -150%);
          transform: none;
        }

        &:nth-child(3) {
          @include absolute(top 50% left 50%);
          transform: translateY(-50%) translateX(-50%) translateZ(0) rotate(-45deg);
        }
      }
    }
  }
}


