<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
  <!-- Search -->
  <div id="searchPushTop" class="u-search-push-top">
    <div class="container position-relative">
      <div class="u-search-push-top__content mx-auto">
        <!-- Close Button -->
        <button type="button" class="close u-search-push-top__close-btn"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="searchPushTop"
                data-unfold-type="jquery-slide"
                data-unfold-target="#searchPushTop">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- End Close Button -->

        <!-- Input -->
        <form class="js-focus-state input-group input-group-lg u-form u-form--lg u-form--no-brd">
          <input type="search" class="form-control u-form__input" placeholder="Search Front" aria-label="Search Front">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary u-btn-primary">Search</button>
          </div>
        </form>
        <!-- End Input -->

        <!-- Link Lists -->
        <div class="row d-none d-md-flex mt-7">
          <div class="col-sm-6">
            <strong class="d-block mb-2">Quick Links</strong>

            <div class="row">
              <!-- List -->
              <ul class="col-sm-6 list-unstyled u-list">
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Search Results List
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Search Results Grid
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="../pages/about-agency.html">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    About
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="../pages/services-agency.html">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Services
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Invoice
                  </a>
                </li>
              </ul>
              <!-- End List -->

              <!-- List -->
              <ul class="col-sm-6 list-unstyled u-list">
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Profile
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    User Contacts
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Reviews
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Settings
                  </a>
                </li>
              </ul>
              <!-- End List -->
            </div>
          </div>

          <div class="col-sm-6">
            <!-- Banner -->
            <div class="rounded u-search-push-top__banner">
              <div class="d-flex align-items-center">
                <div class="u-search-push-top__banner-container">
                  <img class="img-fluid u-search-push-top__banner-img" src="/images/img/mockups/img3.png" alt="Image Description">
                  <img class="img-fluid u-search-push-top__banner-img" src="/images/img/mockups/img2.png" alt="Image Description">
                </div>

                <div>
                  <div class="mb-4">
                    <strong class="d-block mb-2">Featured Item</strong>
                    <p>Create astonishing web sites and pages.</p>
                  </div>
                  <a class="btn btn-xs u-btn-success--air transition-3d-hover" href="@@webRoot/">Apply Now <span class="fa fa-angle-right ml-2"></span></a>
                </div>
              </div>
            </div>
            <!-- End Banner -->
          </div>
        </div>
        <!-- End Link Lists -->
      </div>
    </div>
  </div>
  <!-- End Search -->

  <div class="u-header__section">
    <!-- Topbar -->
    <div class="container u-header__hide-content pt-2">
      <div class="d-flex align-items-center mb-0">
        <!-- Language -->
        <div class="position-relative">
          <a id="languageDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button"
             aria-controls="languageDropdown"
             aria-haspopup="true"
             aria-expanded="false"
             data-unfold-event="hover"
             data-unfold-target="#languageDropdown"
             data-unfold-type="css-animation"
             data-unfold-duration="300"
             data-unfold-delay="300"
             data-unfold-hide-on-scroll="true"
             data-unfold-animation-in="slideInUp"
             data-unfold-animation-out="fadeOut">
            <img class="u-unfold__icon" src="/images/flags/4x3/us.svg" alt="SVG">
            <span class="d-inline-block d-sm-none">US</span>
            <span class="d-none d-sm-inline-block">United States</span>
            <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
          </a>

          <div id="languageDropdown" class="u-unfold mt-2" aria-labelledby="languageDropdownInvoker">
            <a class="active u-list__link" href="#">English</a>
            <a class="u-list__link" href="#">Deutsch</a>
            <a class="u-list__link" href="#">Español‎</a>
          </div>
        </div>
        <!-- End Language -->

        <div class="ml-auto">
          <!-- Jump To -->
          <div class="d-inline-block d-sm-none position-relative mr-2">
            <a id="jumpToDropdownInvoker" class="d-flex align-items-center u-unfold-wrapper" href="javascript:;" role="button"
               aria-controls="jumpToDropdown"
               aria-haspopup="true"
               aria-expanded="false"
               data-unfold-event="hover"
               data-unfold-target="#jumpToDropdown"
               data-unfold-type="css-animation"
               data-unfold-duration="300"
               data-unfold-delay="300"
               data-unfold-hide-on-scroll="true"
               data-unfold-animation-in="slideInUp"
               data-unfold-animation-out="fadeOut">
              Jump to
              <span class="fa fa-angle-down u-unfold__icon-pointer"></span>
            </a>

            <div id="jumpToDropdown" class="u-unfold mt-2" aria-labelledby="jumpToDropdownInvoker">
              <a class="u-list__link" href="../pages/help.html">Help</a>
              <a class="u-list__link" href="../pages/contacts-agency.html">Contacts</a>
            </div>
          </div>
          <!-- End Jump To -->

          <!-- Links -->
          <div class="d-none d-sm-inline-block ml-sm-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-0">
                <a class="u-header__topbar-nav-link" href="../pages/help.html">Help</a>
              </li>
              <li class="list-inline-item mr-0">
                <a class="u-header__topbar-nav-link" href="../pages/contacts-agency.html">Contacts</a>
              </li>
            </ul>
          </div>
          <!-- End Links -->
        </div>

        <ul class="list-inline ml-2 mb-0">
          <!-- Search -->
          <li class="list-inline-item">
            <a class="btn btn-xs u-btn--icon u-btn-text-secondary" href="javascript:;" role="button"
               aria-haspopup="true"
               aria-expanded="false"
               aria-controls="searchPushTop"
               data-unfold-type="jquery-slide"
               data-unfold-target="#searchPushTop">
              <span class="fa fa-search u-btn--icon__inner"></span>
            </a>
          </li>
          <!-- End Search -->

          <!-- Shopping Cart -->
          <li class="list-inline-item position-relative">
            <a id="shoppingCartDropdownInvoker" class="btn btn-xs u-btn--icon u-btn-text-secondary" href="javascript:;" role="button"
               aria-controls="shoppingCartDropdown"
               aria-haspopup="true"
               aria-expanded="false"
               data-unfold-event="hover"
               data-unfold-target="#shoppingCartDropdown"
               data-unfold-type="css-animation"
               data-unfold-duration="300"
               data-unfold-delay="300"
               data-unfold-hide-on-scroll="true"
               data-unfold-animation-in="slideInUp"
               data-unfold-animation-out="fadeOut">
              <span class="fa fa-shopping-cart u-btn--icon__inner"></span>
            </a>

            <div id="shoppingCartDropdown" class="text-center u-unfold right-0 p-7 mt-2" aria-labelledby="shoppingCartDropdownInvoker" style="min-width: 250px;">
                <span class="u-shopping-cart-icon mb-4">
                  <span class="fa fa-shopping-basket u-shopping-cart-icon__inner"></span>
                </span>
              <span class="d-block">Your Cart is Empty</span>
            </div>
          </li>
          <!-- End Shopping Cart -->

          <!-- Account Login -->
          <li class="list-inline-item">
            <!-- Account Sidebar Toggle Button -->
            <a id="sidebarNavToggler" class="btn btn-xs u-btn--icon u-btn-text-secondary u-sidebar__toggler" href="javascript:;" role="button"
               aria-controls="sidebarContent"
               aria-haspopup="true"
               aria-expanded="false"
               data-unfold-event="click"
               data-unfold-hide-on-scroll="false"
               data-unfold-target="#sidebarContent"
               data-unfold-type="css-animation"
               data-unfold-animation-in="fadeInRight"
               data-unfold-animation-out="fadeOutRight"
               data-unfold-duration="500">
              <span class="fa fa-user-circle u-btn--icon__inner font-size-14"></span>
            </a>
            <!-- End Account Sidebar Toggle Button -->
          </li>
          <!-- End Account Login -->
        </ul>
      </div>
    </div>
    <!-- End Topbar -->

    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="@@webRoot/" aria-label="Front">
          <img src="/images/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse py-0">
          <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
            <!-- Performance Growth - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="@@webRoot/performance-growth/">
                Performance Growth
              </a>
            </li>
            <!-- End Performance Growth - Link -->

            <!-- Case Studies - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="@@webRoot/case-studies/">
                Case Studies
              </a>
            </li>
            <!-- End Case Studies - Link -->

            <!-- Services - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="@@webRoot/services/">
                Services
              </a>
            </li>
            <!-- End Services - Link -->

            <!-- About - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="@@webRoot/about/">
                About
              </a>
            </li>
            <!-- End About - Link -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
