<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--abs-top-md u-header--show-hide-md"
        data-header-fix-moment="500"
        data-header-fix-effect="slide">
  <!-- Search -->
  <div id="searchPushTop" class="u-search-push-top">
    <div class="container position-relative">
      <div class="u-search-push-top__content mx-auto">
        <!-- Close Button -->
        <button type="button" class="close u-search-push-top__close-btn"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="searchPushTop"
                data-unfold-type="jquery-slide"
                data-unfold-target="#searchPushTop">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- End Close Button -->

        <!-- Input -->
        <form class="js-focus-state input-group input-group-lg u-form u-form--lg u-form--no-brd">
          <input type="search" class="form-control u-form__input" placeholder="Search Front" aria-label="Search Front">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary u-btn-primary">Search</button>
          </div>
        </form>
        <!-- End Input -->

        <!-- Link Lists -->
        <div class="row d-none d-md-flex mt-7">
          <div class="col-sm-6">
            <strong class="d-block mb-2">Quick Links</strong>

            <div class="row">
              <!-- List -->
              <ul class="col-sm-6 list-unstyled u-list">
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Search Results List
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Search Results Grid
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="../pages/about-agency.html">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    About
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="../pages/services-agency.html">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Services
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Invoice
                  </a>
                </li>
              </ul>
              <!-- End List -->

              <!-- List -->
              <ul class="col-sm-6 list-unstyled u-list">
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Profile
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    User Contacts
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Reviews
                  </a>
                </li>
                <li>
                  <a class="u-list__link" href="#">
                    <span class="fa fa-angle-right u-list__link-icon mr-1"></span>
                    Settings
                  </a>
                </li>
              </ul>
              <!-- End List -->
            </div>
          </div>

          <div class="col-sm-6">
            <!-- Banner -->
            <div class="rounded u-search-push-top__banner">
              <div class="d-flex align-items-center">
                <div class="u-search-push-top__banner-container">
                  <img class="img-fluid u-search-push-top__banner-img" src="/images/img/mockups/img3.png" alt="Image Description">
                  <img class="img-fluid u-search-push-top__banner-img" src="/images/img/mockups/img2.png" alt="Image Description">
                </div>

                <div>
                  <div class="mb-4">
                    <strong class="d-block mb-2">Featured Item</strong>
                    <p>Create astonishing web sites and pages.</p>
                  </div>
                  <a class="btn btn-xs u-btn-success--air transition-3d-hover" href="@@webRoot/">Apply Now <span class="fa fa-angle-right ml-2"></span></a>
                </div>
              </div>
            </div>
            <!-- End Banner -->
          </div>
        </div>
        <!-- End Link Lists -->
      </div>
    </div>
  </div>
  <!-- End Search -->

  <div class="u-header__section">

    <!-- Topbar -->
    <div class="container u-header__hide-content pt-2">
      <div class="d-flex flex-row-reverse">
        <a href="@@webRoot/login/" class="u-list__link u-toolbox__dashboard-link">Dashboard Login</a>
      </div>
    </div>
    <!-- End Topbar -->

    <div id="logoAndNav" class="container">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="@@webRoot/" aria-label="Front">
          <img src="/images/svg/logos/logo.svg" alt="Logo">
        </a>
        <!-- End Logo -->

        <!-- Responsive Toggle Button -->
        <button type="button" class="navbar-toggler btn u-hamburger"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navBar"
                data-toggle="collapse"
                data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse py-0">
          <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">
            <!-- Performance Growth - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="@@webRoot/performance-growth/">
                Performance Growth
              </a>
            </li>
            <!-- End Performance Growth - Link -->

            <!-- Case Studies - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="@@webRoot/case-studies/">
                Case Studies
              </a>
            </li>
            <!-- End Case Studies - Link -->

            <!-- Services - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="@@webRoot/services/">
                Services
              </a>
            </li>
            <!-- End Services - Link -->

            <!-- About - Link -->
            <li class="nav-item">
              <a class="nav-link u-header__nav-link" href="@@webRoot/about/">
                About
              </a>
            </li>
            <!-- End About - Link -->

            <!-- Button -->
            <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
              <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
                Learn More
              </a>
            </li>
            <!-- End Button -->

            <!-- Dashboard - Link -->
            <li class="nav-item d-md-none">
              <a href="@@webRoot/login/" class="nav-link u-header__nav-link u-header__dashboard-link">
                Dashboard Login
              </a>
            </li>
            <!-- End Dashboard - Link -->
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
