<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {

    // initialization of autonomous popups
    $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-learnmore-window', {
      autonomous: true
    });

    // initialization of forms
    $.HSCore.helpers.HSFocusState.init();

    //    variables
    const learnMoreForm = $('#learnMoreForm');
    const errorMessageBlock = $('.message-block__error');
    const successMessageBlock = $('.message-block__success');

    // initialize form validation
    learnMoreForm.parsley({
      trigger: 'change'
    })

    learnMoreForm.submit(function (e) {
      e.preventDefault(); // prevent default submit behaviour
      if ($(this).parsley().isValid()) {
        const name = $("#learnMoreName").val();
        const email = $("#learnMoreEmail").val();
        const url = $("#learnMoreURL").val();
        const company = $("#learnMoreCompany").val();
        const message = $("#learnMoreMessage").val();

        $.ajax({
          url: "/contact.php",
          type: "POST",
          data: {
            name: name,
            email: email,
            url: url,
            company: company,
            message: message
          },
          cache: false,
          success: function () {
            //clear all fields
            learnMoreForm.trigger("reset");
            learnMoreForm.fadeOut();
            successMessageBlock.fadeIn();
          },
          error: function (error) {
            console.log(error)
            learnMoreForm.fadeOut();
            errorMessageBlock.fadeIn();
          }
        })
      }
    });

    $('.js-closeModalBtn').click(function () {
      Custombox.modal.close();
      errorMessageBlock.fadeOut();
      successMessageBlock.fadeOut();
      learnMoreForm.fadeIn();
    })
  });
</script>


<div id="learnModeModal" class="js-learnmore-window rounded u-modal-window u-modal-window--subscribe my-5">
  <button class="btn btn-xs u-btn--icon u-btn-text-white u-modal-window__close" type="button"
          onclick="Custombox.modal.close();">
    <span class="fas fa-times"></span>
  </button>

  <div class="rounded p-5">
    <form class="mx-auto" id="learnMoreForm" data-parsley-validate>

      <!-- Name -->
      <div class="js-form-message mb-6">
        <label class="h6 small d-block text-uppercase">
          Your name
          <span class="text-danger">*</span>
        </label>

        <div class="js-focus-state input-group u-form">
          <input class="form-control u-form__input" type="text" required
                 id="learnMoreName"
                 placeholder="Jack Wayley"
                 aria-label="Jack Wayley"
                 data-parsley-length="[4, 20]"
                 data-parsley-debounce="500"
                 data-parsley-error-message="Please enter your frist name." ś
                 data-error-class="u-has-error"
                 data-success-class="u-has-success">
        </div>
      </div>

      <!-- Email -->
      <div class="js-form-message mb-6">
        <label class="h6 small d-block text-uppercase">
          Your email address
          <span class="text-danger">*</span>
        </label>

        <div class="js-focus-state input-group u-form">
          <input class="form-control u-form__input" type="email" required
                 id="learnMoreEmail"
                 placeholder="jackwayley@gmail.com"
                 aria-label="jackwayley@gmail.com"
                 data-parsley-type="email"
                 data-parsley-error-message="Please enter a valid email address."
                 data-parsley-debounce="500"
                 data-error-class="u-has-error"
                 data-success-class="u-has-success">
        </div>
      </div>

      <!-- Website URL -->
      <div class="mb-6">
        <label class="h6 small d-block text-uppercase">Your website URL</label>

        <div class="js-focus-state input-group u-form">
          <input class="form-control u-form__input" type="url"
                 required
                 id="learnMoreURL"
                 data-parsley-type="url"
                 data-parsley-debounce="500"
                 data-parsley-error-message="Please enter a valid URL address."
                 placeholder="https://www.jackwayley.com"
                 aria-label="https://www.jackwayley.com">
        </div>
      </div>

      <!-- Company name -->
      <div class="mb-6">
        <label class="h6 small d-block text-uppercase">Your company name</label>

        <div class="js-focus-state input-group u-form">
          <input class="form-control u-form__input" type="text"
                 required
                 id="learnMoreCompany"
                 placeholder="JackWayley Inc."
                 aria-label="JackWayley Inc."
                 data-parsley-length="[4, 30]"
                 data-parsley-debounce="500"
                 data-parsley-error-message="Please enter your company name.">
        </div>
      </div>

      <!-- Message -->
      <div class="js-form-message mb-9">
        <label class="h6 small d-block text-uppercase">
          How can we help you?
          <span class="text-danger">*</span>
        </label>

        <div class="js-focus-state input-group u-form">
      <textarea class="form-control u-form__input" rows="4" required
                id="learnMoreMessage"
                placeholder="Hi there, I would like to ..."
                aria-label="Hi there, I would like to ..."
                data-parsley-minlength="10"
                data-parsley-error-message="Please enter a message."
                data-error-class="u-has-error"
                data-success-class="u-has-success"></textarea>
        </div>
      </div>

      <!-- Submit button -->
      <div class="text-center">
        <button type="submit" id="learnMoreSubmit"
                class="btn btn-lg btn-primary u-btn-primary transition-3d-hover mb-3">
          Submit
        </button>
      </div>

    </form>

    <div class="message-block__success text-center">
      <h2 class="h2 text-center text-success mb-4">The mail has been sent successfully</h2>
      <button type="button" onclick="Custombox.modal.close();"
              class="btn btn-lg btn-success u-btn-primary transition-3d-hover mb-3 js-closeModalBtn">
        Close modal
      </button>
    </div>

    <div class="message-block__error text-center">
      <h2 class="h2 text-center text-danger mb-4">Error on send email</h2>
      <button id="trySendEmail" type="button"
              class="btn btn-lg btn-primary u-btn-primary transition-3d-hover mb-3">
        Try again
      </button>
      <button type="button"
              class="btn btn-lg btn-danger u-btn-primary transition-3d-hover mb-3 js-closeModalBtn">
        Close modal
      </button>
    </div>
  </div>
</div>
