<!-- build:js @@webRoot/scripts/core.js -->
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="/assets/popper.js/dist/umd/popper.min.js"></script>
<script src="/assets/bootstrap/bootstrap.min.js"></script>

<script src="/assets/hs-megamenu/src/hs.megamenu.js"></script>
<script src="/assets/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/assets/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/dzsparallaxer/dzsparallaxer.js"></script>
<script src="/assets/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="/assets/gmaps/gmaps.min.js"></script>
<script src="/assets/fancybox/jquery.fancybox.min.js"></script>
<script src="/assets/typed.js/lib/typed.min.js"></script>
<script src="/assets/slick-carousel/slick/slick.js"></script>
<script src="/parsleyjs/dist/parsley.min.js"></script>

<script src="/scripts/hs.core.js"></script>
<script src="/scripts/components/hs.header.js"></script>
<script src="/scripts/components/hs.unfold.js"></script>
<script src="/scripts/components/hs.unfold.js"></script>
<script src="/scripts/helpers/hs.focus-state.js"></script>
<script src="/scripts/components/hs.g-map.js"></script>
<script src="/scripts/components/hs.malihu-scrollbar.js"></script>
<script src="/scripts/components/hs.validation.js"></script>
<script src="/scripts/components/hs.fancybox.js"></script>
<script src="/scripts/components/hs.slick-carousel.js"></script>
<script src="/scripts/components/hs.show-animation.js"></script>
<script src="/scripts/components/hs.go-to.js"></script>
<script src="/scripts/components/hs.cubeportfolio.js"></script>
<script src="/assets/custombox/dist/custombox.min.js"></script>
<script src="/scripts/components/hs.modal-window.js"></script>
<script src="/scripts/custom-front.js"></script>
<!-- endbuild -->
